/* App.css */

.App {
  text-align: center;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.blog-row {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure each row takes up the full width */
  margin-bottom: 20px;
}

.blog-post {
  flex-basis: calc(33.33% - 20px); /* Adjust width of each blog post */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  text-align: left; /* Align text to the left */
}

.blog-post img.blog-img {
  width: 100%; /* Make the image width 100% of its container */
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
  border-radius: 5px; /* Add border radius to the images */
}